{{ partial "header.html" . }}

<section id="content">

	<h1>{{ .Title }}</h1>

	<article class="one-col">
	
		<div class="body">

			{{ .Content }}
			
		</div>

	</article>

	{{ $pages := where (where .Site.Pages "Section" .Section) "Type" "starter" }}
	<section class="box related-themes" style="background-image: none; background-color: #fff;">
		<div class="body">
			<ul>
				{{ range $pages.ByTitle }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		</div>
	</section>

</section>

{{ partial "footer.html" . }}