	</div>

	<footer>
		<div class="seperator">
			<hr>
		</div>
				
		<address>
		<ul>
			<li>Contact: <a href="/support">Support</a></li>
			<li>Phone: +47 22 45 10 00</li>
			<li>E-mail: <a href="/support">Support</a></li>
			<li>Org.no: 991 825 827</li>
			<li><a href="http://www.difi.no/artikkel/2014/12/difis-nettsteder">Difi webpages</a></li>
			<li class="last"><a href="http://www.difi.no/artikkel/2014/12/personvernerklaering">Privacy</a></li>
		</ul>
		</address>			
	</footer>

</div>

<script type="text/javascript" src="http://www.difi.no/_style/lib/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://www.difi.no/_style/lib/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="http://www.difi.no/themes/contrib/difi3/js/jquery.flexnav.min.js"></script>
<script type="text/javascript" src="http://www.difi.no/themes/contrib/difi3/js/tools.js?v=1.00"></script>
<script type="text/javascript" src="http://www.difi.no/profiles/difino/themes/difi3_difino/js/tools.js?v=1.00&amp;nngvvu"></script>

</body>
</html>