<header>		
	<div class="branding sub-portal">
		<div class="logo">
			<a href="{{ .Site.BaseURL }}"><h1 class="hide">{{ .Site.Title }}</h1></a>
		</div>

		<div class="seperator"></div>

		<div class="sub-portal">
			<a href="{{ .Site.BaseURL }}">VEFA</a>
			<p>Technical stuff</p>
		</div>

	</div>

	<div class="tools">
		<div class="menu">
			<h2>Secondary menu</h2>
			<ul class="links">
				<li class="first"><a href="/support" title="">Support</a></li>
				<li><a href="https://github.com/difi/vefa-portal" title="">Github</a></li>
				<li class="last"><a href="https://github.com/difi/vefa-portal/issues" title="">Issues</a></li>
			</ul>
		</div>
	</div>

	<div class="mobilesearch">
		<div class="seperator">
			<hr>
		</div>
	</div>
</header>

<div style="height: 20pt;"></div>
